.jumbotron {
    background-image: url("../storage/topimg.jpg");
    background-size: cover;
    padding: 50px;
}

.jumbotron-fluid {
    background-color: #C0C0C0;
    text-align: center;
    padding: 20px;
}

footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    text-align: center;
}